openapi: "3.1.0"
info:
  title: "UpToData API (/v1)"
  version: "1.0.0"
  description: "UpToData's /v1 API is a usage-based B2B data API: real-time
    LinkedIn profile, company, post, and job enrichment, live people, company,
    job, and post search, Sales Navigator search, and asynchronous batch jobs,
    all through one `X-API-Key` header. Every call answers a `{data, meta}`
    envelope on success or an `{error}` envelope on failure. Enrich, activity,
    and batch item calls bill both when the target is found and when it comes
    back not found, private, deleted, or unreachable (`422
    unprocessable_target`); a call is only free when it fails with `400`, `401`,
    `402`, `429`, `500`, or `504`. Job search bills per job returned; people,
    company, and post search (Sales Navigator and standard alike) bill per page
    of up to 25 results, and empty pages are free. The base URL is
    `https://api.uptodata.io/v1`. Sync endpoints answer directly, typically in 2
    to 8 seconds; submit `POST /batch` for volume and read results by webhook
    (`batch.completed`) or by polling `GET /batch/{job_id}`."
  license:
    name: "Proprietary"
    identifier: "UNLICENSED"
servers:
  - url: "https://api.uptodata.io/v1"
security:
  - ApiKeyAuth: []
tags:
  - name: "Profiles"
    description: "Profiles operations."
  - name: "Companies"
    description: "Companies operations."
  - name: "Jobs"
    description: "Jobs operations."
  - name: "Posts"
    description: "Posts operations."
  - name: "Search"
    description: "Search operations."
  - name: "Batch"
    description: "Batch operations."
  - name: "Account"
    description: "Account operations."
paths:
  /profiles/enrich:
    post:
      operationId: "profiles-enrich"
      summary: "Enrich a profile"
      description: "Turn any LinkedIn profile URL into a full live record, scraped at
        request time."
      tags:
        - "Profiles"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                urn:
                  type: "string"
                fields:
                  type: "array"
                  items:
                    type: "string"
                with_followers_and_connections:
                  type: "boolean"
                with_full_skills_and_endorsements:
                  type: "boolean"
            example:
              url: "https://www.linkedin.com/in/satyanadella"
              with_followers_and_connections: true
              with_full_skills_and_endorsements: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  url: "https://www.linkedin.com/in/satyanadella"
                  full_name: "Satya Nadella"
                  public_identifier: "satyanadella"
                  headline: "Chairman and CEO at Microsoft"
                  location:
                    city: "Redmond"
                    region: "Washington"
                    country: "United States"
                  about: "Empowering every person and every organization on the planet to achieve
                    more."
                  urn: "urn:li:member:19186432"
                  linkedin_id: "19186432"
                  positions:
                    - title: "Chairman and CEO"
                      company: "Microsoft"
                      company_url: "https://www.linkedin.com/company/microsoft"
                      linkedin_id: "1035"
                      position_id: "urn:li:fsd_profilePosition:(ACoAAAEyX8gBmX0wjgGmBhKd8rC5WYkYlKk,2\
                        227646598)"
                      started_at: "2014-02"
                      ended_at: null
                      description: "CEO since 2014; Chairman since 2021."
                      skills:
                        - "Cloud Computing"
                        - "Leadership"
                      company_industry: "Software Development"
                      company_headcount: "10001+"
                      company_logo_url: "https://media.licdn.com/dms/image/v2/C560BAQExample/company-\
                        logo_200_200/0/microsoft"
                    - title: "Executive Vice President, Cloud and Enterprise"
                      company: "Microsoft"
                      company_url: "https://www.linkedin.com/company/microsoft"
                      linkedin_id: "1035"
                      position_id: "urn:li:fsd_profilePosition:(ACoAAAEyX8gBmX0wjgGmBhKd8rC5WYkYlKk,1\
                        841102234)"
                      started_at: "2011-02"
                      ended_at: "2014-02"
                      description: "Led the transformation to cloud and the launch of Azure."
                      skills:
                        - "Cloud Computing"
                        - "Enterprise Software"
                      company_industry: "Software Development"
                      company_headcount: "10001+"
                      company_logo_url: "https://media.licdn.com/dms/image/v2/C560BAQExample/company-\
                        logo_200_200/0/microsoft"
                  current_company:
                    name: "Microsoft"
                    url: "https://www.linkedin.com/company/microsoft"
                    linkedin_id: "1035"
                    title: "Chairman and CEO"
                    started_at: "2014-02"
                    logo_url: "https://media.licdn.com/dms/image/v2/C560BAQExample/company-logo_200\
                      _200/0/microsoft"
                    industry: "Software Development"
                    headcount: "10001+"
                  education:
                    - school: "The University of Chicago Booth School of Business"
                      degree: "MBA"
                      field: "Business Administration"
                      activities: "President, High Tech Club"
                      education_id: "urn:li:fsd_profileEducation:(ACoAAAEyX8gBmX0wjgGmBhKd8rC5WYkYlKk\
                        ,615479904)"
                      school_logo_url: "https://media.licdn.com/dms/image/v2/C4D0BAQExample/company-l\
                        ogo_200_200/0/chicago-booth"
                    - school: "University of Wisconsin-Milwaukee"
                      degree: "MS"
                      field: "Computer Science"
                      education_id: "urn:li:fsd_profileEducation:(ACoAAAEyX8gBmX0wjgGmBhKd8rC5WYkYlKk\
                        ,615479905)"
                      school_logo_url: "https://media.licdn.com/dms/image/v2/C4D0BAQExample/company-l\
                        ogo_200_200/0/uwm"
                  skills:
                    - "Cloud Computing"
                    - "Leadership"
                    - "Enterprise Software"
                    - "Artificial Intelligence (AI)"
                    - "Strategy"
                    - "Product Management"
                  languages:
                    - "English"
                    - "Telugu"
                  certifications:
                    - name: "AWS Certified Cloud Practitioner"
                      authority: "Amazon Web Services (AWS)"
                      issued_at: "2023-04"
                      expires_at: "2026-04"
                      url: "https://www.credly.com/badges/example-aws"
                      linkedin_id: "2382910"
                      license_number: "AWS-CCP-4821937"
                  is_open_to_work: true
                  profile_picture_url: "https://media.licdn.com/dms/image/v2/D5603AQExample/profi\
                    le-displayphoto-shrink_800_800/0/satyanadella"
                  followers_count: 11482930
                  connections_count: 500
                  scraped_at: "2026-07-07T14:00:04Z"
                  skill_endorsements:
                    - name: "Cloud Computing"
                      endorsement_count: 312
                    - name: "Leadership"
                      endorsement_count: 274
                    - name: "Enterprise Software"
                      endorsement_count: 87
                    - name: "Artificial Intelligence (AI)"
                      endorsement_count: 64
                    - name: "Strategy"
                      endorsement_count: 52
                    - name: "Product Management"
                      endorsement_count: 31
                  publications:
                    - title: "Hit Refresh"
                      publisher: "Harper Business"
                      published_at: "2017-09"
                      url: "https://www.harpercollins.com/products/hit-refresh"
                  patents:
                    - title: "Distributed resource management in a cloud computing environment"
                      number: "US10127086B2"
                      issued_at: "2018-11"
                  awards:
                    - title: "Financial Times Person of the Year"
                      issuer: "Financial Times"
                      issued_at: "2019"
                  interests:
                    - "Artificial Intelligence"
                    - "Climate"
                    - "Education"
                  projects:
                    - name: "Microsoft Azure"
                      title: "Cloud platform"
                      description: "Hyperscale cloud for enterprises and developers."
                      url: "https://azure.microsoft.com"
                      started_at: "2011-02"
                      ended_at: null
                  recommendations:
                    - text: "Satya is an exceptional leader who sets a high bar for culture and
                        product."
                      relationship: "Worked with Satya on the same team"
                      created_at: "2021-03-15T00:00:00Z"
                      person:
                        url: "https://www.linkedin.com/in/example-vp"
                        full_name: "Alex Example"
                        headline: "EVP, Cloud + AI at Microsoft"
                        urn: "ACoAABOPHB8BM6example"
                  primary_locale: "en_US"
                  is_premium: true
                  is_verified: true
                  is_open_profile: false
                  job_preferences:
                    titles:
                      - "Board Member"
                      - "Advisor"
                    locations:
                      - "Greater Seattle Area"
                      - "San Francisco Bay Area"
                    workplace_types:
                      - "hybrid"
                      - "remote"
                    start_timing: "flexible"
                  profile_urn: "ACoAAAEyX8gBmX0wjgGmBhKd8rC5WYkYlKk"
                meta:
                  creditsUsed: 4
                  creditsRemaining: 98417
                  billed: true
                  reason: "profile_found"
                  requestId: "req_8f2ka91x"
                  latencyMs: 5240
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/Profile"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, or bad URL format."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, or bad URL format."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Target not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Target not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /profiles/activity:
    post:
      operationId: "profiles-activity"
      summary: "Get profile activity"
      description: "Get one profile's authored posts, comments, reactions, or reposts,
        one kind per call."
      tags:
        - "Profiles"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                urn:
                  type: "string"
                kind:
                  type: "string"
                posted_within:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
                pagination_token:
                  type: "string"
              required:
                - "kind"
            example:
              url: "https://linkedin.com/in/janedoe"
              kind: "posts"
              posted_within: "month"
      responses:
        "200":
          description: "kind: posts / kind: comments / kind: reactions / kind: reposts"
          content:
            application/json:
              examples:
                kind-posts:
                  summary: "kind: posts"
                  value:
                    data:
                      kind: "posts"
                      url: "https://www.linkedin.com/in/janedoe"
                      urn: "ACoAABOPHB8BM6example"
                      posts:
                        - url: "https://linkedin.com/posts/janedoe_launch-activity-7215"
                          urn: "7267273010393358336"
                          share_urn: "7315779815297421316"
                          author:
                            name: "Jane Doe"
                            url: "https://linkedin.com/in/janedoe"
                            headline: "CEO at Example"
                          text: "Today we are launching a new way to run outbound on live profile data."
                          posted_at: "2026-07-06T18:45:00Z"
                          reactions_count: 1204
                          comments_count: 187
                          reposts_count: 96
                          scraped_at: "2026-07-08T12:00:00Z"
                          media:
                            - type: "image"
                              url: "https://media.licdn.com/dms/image/v2/D4E22AQExample/feedshare-shrink_2048\
                                _1536/0/launch"
                      pagination:
                        page: 1
                        per_page: 25
                        returned: 1
                        has_more: false
                        total_estimate: 1
                      pagination_token: null
                      scraped_at: "2026-07-08T12:00:00Z"
                    meta:
                      creditsUsed: 2
                      creditsRemaining: 98417
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 2100
                kind-comments:
                  summary: "kind: comments"
                  value:
                    data:
                      kind: "comments"
                      url: "https://www.linkedin.com/in/janedoe"
                      urn: "ACoAABOPHB8BM6example"
                      comments:
                        - text: "Congrats on the launch - this is the workflow our outbound team has been
                            missing."
                          posted_at: "2026-07-05T14:22:00Z"
                          replies_count: 0
                          commenter:
                            url: "https://www.linkedin.com/in/janedoe"
                            full_name: "Jane Doe"
                            headline: "VP Marketing at Acme Corp"
                            urn: "ACoAABOPHB8BM6example"
                          target_post:
                            url: "https://linkedin.com/posts/acme_announcement-activity-7210"
                            urn: "7267273010393358000"
                            text_snippet: "We are thrilled to announce a new way to run outbound on live
                              profile data."
                            author:
                              name: "Acme Corp"
                              url: "https://linkedin.com/company/acme"
                              headline: "B2B software"
                      pagination:
                        page: 1
                        per_page: 25
                        returned: 25
                        has_more: true
                        total_estimate: 60
                      pagination_token: "eyJwYWdlIjoyfQ.signature"
                      scraped_at: "2026-07-08T12:00:00Z"
                    meta:
                      creditsUsed: 2
                      creditsRemaining: 98417
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 2400
                kind-reactions:
                  summary: "kind: reactions"
                  value:
                    data:
                      kind: "reactions"
                      url: "https://www.linkedin.com/in/janedoe"
                      urn: "ACoAABOPHB8BM6example"
                      reactions:
                        - reaction_type: "PRAISE"
                          reacted_at: "2026-07-06T09:12:00Z"
                          reactor:
                            url: "https://www.linkedin.com/in/janedoe"
                            full_name: "Jane Doe"
                            headline: "VP Marketing at Acme Corp"
                            urn: "ACoAABOPHB8BM6example"
                          target_post:
                            url: "https://linkedin.com/posts/acme_announcement-activity-7210"
                            urn: "7267273010393358000"
                            text_snippet: "We are thrilled to announce a new way to run outbound on live
                              profile data."
                            author:
                              name: "Acme Corp"
                              url: "https://linkedin.com/company/acme"
                              headline: "B2B software"
                      pagination:
                        page: 1
                        per_page: 25
                        returned: 25
                        has_more: true
                        total_estimate: 60
                      pagination_token: "eyJwYWdlIjoyfQ.signature"
                      scraped_at: "2026-07-08T12:00:00Z"
                    meta:
                      creditsUsed: 2
                      creditsRemaining: 98417
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 1900
                kind-reposts:
                  summary: "kind: reposts"
                  value:
                    data:
                      kind: "reposts"
                      url: "https://www.linkedin.com/in/janedoe"
                      urn: "ACoAABOPHB8BM6example"
                      reposts:
                        - url: "https://linkedin.com/posts/janedoe_share-activity-7218"
                          urn: "7267273010393358444"
                          share_urn: "7315779815297421444"
                          author:
                            name: "Acme Corp"
                            url: "https://linkedin.com/company/acme"
                            headline: "B2B software"
                          text: "We are thrilled to announce a new way to run outbound on live profile
                            data."
                          posted_at: "2026-07-05T11:00:00Z"
                          reactions_count: 842
                          comments_count: 63
                          reposts_count: 41
                          scraped_at: "2026-07-08T12:00:00Z"
                          media:
                            - type: "image"
                              url: "https://media.licdn.com/dms/image/v2/D4E22AQExample/feedshare-shrink_2048\
                                _1536/0/announce"
                      pagination:
                        page: 1
                        per_page: 25
                        returned: 1
                        has_more: false
                        total_estimate: 1
                      pagination_token: null
                      scraped_at: "2026-07-08T12:00:00Z"
                    meta:
                      creditsUsed: 2
                      creditsRemaining: 98417
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 1800
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/ProfileActivityResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, or bad URL format."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, or bad URL format."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Target not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Target not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /profiles/recommendations:
    post:
      operationId: "profiles-recommendations"
      summary: "Get profile recommendations"
      description: "Get the written recommendations a profile has received, given, or both."
      tags:
        - "Profiles"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                urn:
                  type: "string"
                direction:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
            example:
              url: "https://www.linkedin.com/in/janedoe"
              direction: "both"
              page: 1
      responses:
        "200":
          description: "direction: both / No recommendations"
          content:
            application/json:
              examples:
                direction-both:
                  summary: "direction: both"
                  value:
                    data:
                      url: "https://www.linkedin.com/in/janedoe"
                      public_identifier: "janedoe"
                      linkedin_id: "123456789"
                      urn: "ACoAABOPHB8BM6example"
                      direction: "both"
                      scraped_at: "2026-07-08T12:00:00Z"
                      given:
                        recommendations:
                          - text: "Jane is an exceptional leader. She rebuilt our go-to-market motion around
                              live profile data."
                            relationship: "Jane managed Alex directly"
                            created_at: "2024-03-15T00:00:00Z"
                            person:
                              url: "https://www.linkedin.com/in/example"
                              full_name: "Alex Example"
                              headline: "VP Sales at Example Corp"
                              urn: "ACoAABOPHB8BM6alexex"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: false
                      received:
                        recommendations:
                          - text: "Outstanding engineer and a generous mentor."
                            relationship: "Sam worked with Jane on the same team"
                            created_at: "2025-01-10T00:00:00Z"
                            person:
                              url: "https://www.linkedin.com/in/manager"
                              full_name: "Sam Manager"
                              headline: "Engineering Director at Example Corp"
                              urn: "ACoAABOPHB8BM6sammgr"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: true
                    meta:
                      creditsUsed: 2
                      creditsRemaining: 98418
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 2100
                no-recommendations:
                  summary: "No recommendations"
                  value:
                    data:
                      url: "https://www.linkedin.com/in/janedoe"
                      public_identifier: "janedoe"
                      linkedin_id: "123456789"
                      urn: "ACoAABOPHB8BM6example"
                      direction: "both"
                      scraped_at: "2026-07-08T12:00:00Z"
                      given:
                        recommendations: []
                      received:
                        recommendations: []
                    meta:
                      creditsUsed: 0
                      creditsRemaining: 98420
                      billed: false
                      reason: "empty_result"
                      requestId: "req_example"
                      latencyMs: 1900
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/ProfileRecommendationsResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, bad URL format, or a direction
            outside the enum."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or a direction outside
                    the enum."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover every requested direction."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover every requested direction."
        "422":
          description: "Profile not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Profile not found, private, deleted, or unreachable. Billed as 1
                    credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /profiles/interests:
    post:
      operationId: "profiles-interests"
      summary: "Get profile interests"
      description: "Get what a profile follows: top voices, companies, groups,
        newsletters, and schools."
      tags:
        - "Profiles"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                urn:
                  type: "string"
                category:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
            example:
              url: "https://www.linkedin.com/in/janedoe"
              category: "companies"
      responses:
        "200":
          description: "category: companies / category: all"
          content:
            application/json:
              examples:
                category-companies:
                  summary: "category: companies"
                  value:
                    data:
                      url: "https://www.linkedin.com/in/janedoe"
                      public_identifier: "janedoe"
                      linkedin_id: "123456789"
                      urn: "ACoAABOPHB8BM6example"
                      category: "companies"
                      scraped_at: "2026-07-08T12:00:00Z"
                      companies:
                        interests:
                          - name: "Example Corp"
                            url: "https://www.linkedin.com/company/example/"
                            urn: "1035"
                            headline: "B2B software for revenue teams"
                            followers_count: 141007
                            caption: "141,007 followers"
                            logo_url: "https://media.licdn.com/dms/image/v2/C560BAQExample/company-logo_200\
                              _200/0/example"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: true
                    meta:
                      creditsUsed: 1
                      creditsRemaining: 98419
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 2000
                category-all:
                  summary: "category: all"
                  value:
                    data:
                      url: "https://www.linkedin.com/in/janedoe"
                      public_identifier: "janedoe"
                      linkedin_id: "123456789"
                      urn: "ACoAABOPHB8BM6example"
                      category: "all"
                      scraped_at: "2026-07-08T12:00:00Z"
                      influencers:
                        interests:
                          - name: "Alex Example"
                            url: "https://www.linkedin.com/in/example"
                            urn: "ACoAABOPHB8BM6alexex"
                            headline: "VP Sales at Example Corp"
                            followers_count: 52310
                            caption: "52,310 followers"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: false
                      companies:
                        interests: []
                      groups:
                        interests:
                          - name: "Revenue Operations"
                            url: "https://www.linkedin.com/groups/12345/"
                            urn: "12345"
                            members_count: 14182
                            caption: "14,182 members"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: false
                      newsletters:
                        interests:
                          - name: "The Outbound Weekly"
                            url: "https://www.linkedin.com/newsletters/the-outbound-weekly-6900000000000000\
                              000/"
                            caption: "Published weekly"
                        pagination:
                          page: 1
                          per_page: 10
                          has_more: false
                      schools:
                        interests: []
                    meta:
                      creditsUsed: 3
                      creditsRemaining: 98417
                      billed: true
                      reason: "success"
                      requestId: "req_example"
                      latencyMs: 2300
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/ProfileInterestsResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, bad URL format, or a category
            outside the enum."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or a category outside
                    the enum."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover every requested category."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover every requested category."
        "422":
          description: "Profile not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Profile not found, private, deleted, or unreachable. Billed as 1
                    credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /companies/enrich:
    post:
      operationId: "companies-enrich"
      summary: "Enrich a company"
      description: "Turn any LinkedIn company URL, domain, or ID into live firmographics."
      tags:
        - "Companies"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                domain:
                  type: "string"
                linkedin_id:
                  type: "string"
                fields:
                  type: "array"
                  items:
                    type: "string"
            example:
              url: "https://linkedin.com/company/anthropic"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  url: "https://www.linkedin.com/company/anthropic"
                  linkedin_id: "74126343"
                  name: "Anthropic"
                  website: "https://anthropic.com"
                  description: "AI safety and research company."
                  industry: "Research Services"
                  headcount: 2841
                  headcount_growth_6m: 0.34
                  company_size:
                    min: 1001
                    max: 5000
                  founded: 2021
                  hq:
                    city: "San Francisco"
                    region: "California"
                    country: "US"
                  locations:
                    - city: "San Francisco"
                    - city: "London"
                  specialties:
                    - "Artificial Intelligence"
                    - "AI Safety"
                  funding:
                    total_usd: 14300000000
                    last_round:
                      type: "Series F"
                      amount_usd: 3500000000
                      date: "2026-03"
                  scraped_at: "2026-07-07T14:00:03Z"
                  followers_count: 1204800
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98417
                  billed: true
                  reason: "company_found"
                  requestId: "req_4jd83mcy"
                  latencyMs: 2950
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/Company"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, or bad URL format."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, or bad URL format."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Target not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Target not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /companies/jobs-count:
    post:
      operationId: "companies-jobs-count"
      summary: "Count company job openings"
      description: "Return the number of active job postings a company has on LinkedIn."
      tags:
        - "Companies"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                domain:
                  type: "string"
                linkedin_id:
                  type: "string"
            example:
              url: "https://linkedin.com/company/anthropic"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  url: "https://linkedin.com/company/anthropic"
                  open_jobs_count: 87
                  scraped_at: "2026-07-08T12:00:00Z"
                  linkedin_id: "74126343"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/CompanyJobsCountResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, or bad URL format."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, or bad URL format."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Company not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Company not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /companies/posts:
    post:
      operationId: "companies-posts"
      summary: "Get company posts"
      description: "List recent posts published by a company page."
      tags:
        - "Companies"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                domain:
                  type: "string"
                linkedin_id:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
                max_results:
                  type: "integer"
                pagination_token:
                  type: "string"
            example:
              url: "https://linkedin.com/company/anthropic"
              page: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  posts:
                    - url: "https://www.linkedin.com/posts/anthropic_launch-activity-7267273010393358\
                        336-ab12"
                      urn: "7267273010393358336"
                      author:
                        name: "Anthropic"
                        url: "https://www.linkedin.com/company/anthropicresearch/posts"
                        headline: "1,204,800 followers"
                      text: "Today we are announcing Claude 4, our most capable model yet."
                      posted_at: "2026-07-06T18:45:00Z"
                      reactions_count: 4200
                      comments_count: 312
                      reposts_count: 890
                      scraped_at: "2026-07-08T12:00:00Z"
                      share_urn: "7315779815297421316"
                      media:
                        - type: "image"
                          url: "https://media.licdn.com/dms/image/v2/D4E22AQExample/feedshare-shrink_2048\
                            _1536/0/claude"
                  pagination:
                    returned: 1
                    max_results: 25
                    pages_scraped: 1
                    page: 1
                    per_page: 25
                    has_more: true
                    total_estimate: 234
                  pagination_token: "eyJwYWdlIjoyfQ"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/CompanyPostsResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, bad URL format, or an invalid
            pagination_token."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or an invalid
                    pagination_token."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover a full page."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover a full page."
        "422":
          description: "Company not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Company not found, private, deleted, or unreachable. Billed as 1
                    credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /companies/headcount:
    post:
      operationId: "companies-headcount"
      summary: "Find custom headcount"
      description: "Count employees at a company matching title, seniority, location,
        or keyword filters."
      tags:
        - "Companies"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                company_url:
                  type: "string"
                filters:
                  type: "object"
                  properties:
                    titles:
                      type: "array"
                      items:
                        type: "string"
                    seniorities:
                      type: "array"
                      items:
                        type: "string"
                    locations:
                      type: "array"
                      items:
                        type: "string"
                    keywords:
                      type: "string"
              required:
                - "url"
                - "filters"
            example:
              url: "https://linkedin.com/company/anthropic"
              filters:
                titles:
                  - "Software Engineer"
                locations:
                  - "United States"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  company_url: "https://linkedin.com/company/anthropic"
                  count: 142
                  filters_applied:
                    titles:
                      - "Software Engineer"
                    locations:
                      - "United States"
                  scraped_at: "2026-07-08T12:00:00Z"
                  linkedin_id: "74126343"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/CompanyHeadcountResult"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Missing url or filters, both url and company_url sent, unknown
            field, bad seniority value, more than 6 titles and seniorities
            combined, or a location that matches no place."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Missing url or filters, both url and company_url sent, unknown field,
                    bad seniority value, more than 6 titles and seniorities
                    combined, or a location that matches no place."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Company not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Company not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /jobs/enrich:
    post:
      operationId: "jobs-enrich"
      summary: "Enrich a job"
      description: "Fetch full details for a single LinkedIn job posting, including
        the description and company."
      tags:
        - "Jobs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                job_id:
                  type: "string"
            example:
              url: "https://www.linkedin.com/jobs/view/4470130770"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  url: "https://www.linkedin.com/jobs/view/4470130770"
                  title: "Full-Stack Agentic Engineer (focus on Backend)"
                  company:
                    name: "Apoddo"
                    url: "https://www.linkedin.com/company/apoddo-llp"
                    linkedin_id: "11571939"
                    industry: "Software Development"
                    logo_url: "https://media.licdn.com/dms/image/v2/D4D0BAQExample/company-logo_400\
                      _400/0/apoddo_llp_logo"
                  location: "Serbia"
                  posted_at: "2026-09-25T09:22:27.000Z"
                  description_snippet: "Apoddo is a software development-as-a-service company. We
                    specialize in providing software development services to
                    small and medium-sized businesses in the United States..."
                  job_id: "4470130770"
                  description: "Apoddo is a software development-as-a-service company. We
                    specialize in providing software development services to
                    small and medium-sized businesses in the United States. ..."
                  employment_type: "Full-time"
                  scraped_at: "2026-09-25T21:55:52.000Z"
                  job_state: "LISTED"
                  expires_at: "2027-03-24T09:22:27.000Z"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "job_found"
                  requestId: "req_example"
                  latencyMs: 2100
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/JobDetail"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Missing url and job_id, unknown field, a URL that is not a
            LinkedIn job URL, or a non-numeric job_id."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Missing url and job_id, unknown field, a URL that is not a LinkedIn
                    job URL, or a non-numeric job_id."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Job not found, removed, or unreachable. Billed as 1 credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Job not found, removed, or unreachable. Billed as 1 credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /search/jobs:
    post:
      operationId: "search-jobs"
      summary: "Search jobs"
      description: "Live LinkedIn job postings by company, keyword, and filters."
      tags:
        - "Jobs"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                company_url:
                  type: "string"
                keywords:
                  type: "array"
                  items:
                    type: "string"
                filters:
                  type: "object"
                  properties:
                    locations:
                      type: "array"
                      items:
                        type: "string"
                    seniority:
                      type: "array"
                      items:
                        type: "string"
                    function:
                      type: "array"
                      items:
                        type: "string"
                    workplace_type:
                      type: "array"
                      items:
                        type: "string"
                    posted_within_days:
                      type: "integer"
                max_results:
                  type: "integer"
                per_page:
                  type: "integer"
                page:
                  type: "integer"
                pagination_token:
                  type: "string"
            example:
              keywords:
                - "golang"
              filters:
                workplace_type:
                  - "remote"
                posted_within_days: 7
              max_results: 25
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  jobs:
                    - url: "https://www.linkedin.com/jobs/view/4470130770"
                      title: "Full-Stack Agentic Engineer (focus on Backend)"
                      company:
                        name: "Apoddo"
                        url: "https://www.linkedin.com/company/apoddo-llp"
                        linkedin_id: "11571939"
                        logo_url: "https://media.licdn.com/dms/image/v2/D4D0BAQExample/company-logo_200\
                          _200/0/apoddo_llp_logo"
                      location: "Serbia (Remote)"
                      posted_at: "2026-09-25T09:22:27.000Z"
                      workplace_type: "remote"
                      description_snippet: "Apoddo is a software development-as-a-service company..."
                      job_id: "4470130770"
                      employment_type: "full-time"
                meta:
                  creditsUsed: 25
                  creditsRemaining: 98394
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 21000
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/JobPosting"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Unknown field, bad enum value, unknown function, or a location or
            company that matches nothing."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Unknown field, bad enum value, unknown function, or a location or
                    company that matches nothing."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover max_results jobs."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover max_results jobs."
        "429":
          description: "Over the 300 requests/min limit, or the 20 searches/hour
            per-organization quota. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min limit, or the 20 searches/hour
                    per-organization quota. Honor Retry-After."
        "500":
          description: "LinkedIn rejected the search query, or something broke on the
            server side."
          content:
            application/json:
              example:
                error:
                  type: "upstream_error"
                  message: "LinkedIn rejected the search query, or something broke on the server
                    side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /posts/enrich:
    post:
      operationId: "posts-enrich"
      summary: "Enrich a post"
      description: "Fetch one LinkedIn post by URL: full text plus live engagement."
      tags:
        - "Posts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                url:
                  type: "string"
                urn:
                  type: "string"
            example:
              url: "https://linkedin.com/posts/ceo_launch-activity-7215"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  url: "https://linkedin.com/posts/ceo_launch-activity-7215"
                  urn: "7267273010393358336"
                  share_urn: "urn:li:share:7315779815297421316"
                  author:
                    name: "Jane Doe"
                    url: "https://www.linkedin.com/in/janedoe?miniProfileUrn=urn%3Ali%3Afsd_profile\
                      %3AACoAABOPHB8BM6example"
                    headline: "CEO at Example"
                  text: "Today we're launching..."
                  posted_at: "2026-07-06T18:45:00Z"
                  reactions_count: 1204
                  comments_count: 187
                  reposts_count: 96
                  scraped_at: "2026-07-07T14:00:02Z"
                  media:
                    - type: "image"
                      url: "https://media.licdn.com/..."
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98418
                  billed: true
                  reason: "post_found"
                  requestId: "req_pe73mm1q"
                  latencyMs: 2100
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/Post"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "Malformed body, unknown field, or bad URL format."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, or bad URL format."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the call."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the call."
        "422":
          description: "Target not found, private, deleted, or unreachable."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Target not found, private, deleted, or unreachable."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /search/posts:
    post:
      operationId: "search-posts"
      summary: "Search posts"
      description: "Live LinkedIn post search by keyword, hashtag, or author."
      tags:
        - "Posts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                keywords:
                  type: "array"
                  items:
                    type: "string"
                hashtags:
                  type: "array"
                  items:
                    type: "string"
                author_url:
                  type: "string"
                author_urn:
                  type: "string"
                posted_within:
                  type: "string"
                sort:
                  type: "string"
                max_results:
                  type: "integer"
            example:
              keywords:
                - "ai agents"
              posted_within: "week"
              sort: "recent"
              max_results: 25
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  posts:
                    - url: "https://www.linkedin.com/posts/katykeim_gtm-teams-are-losing-track-of-the\
                        ir-ai-agents-activity-7509369170732507138-zjBG"
                      urn: "7509369170732507138"
                      share_urn: "urn:li:share:7509369169658908672"
                      author:
                        name: "Katy Keim"
                        url: "https://www.linkedin.com/in/katykeim"
                        headline: "CEO, LeanData | CMO | Independent Board Member"
                      text: "MarTech's take on our latest LeanData research: What happens when your
                        organization has so many agents at work that you start
                        losing track of them?"
                      posted_at: "2026-09-25T21:49:51.000Z"
                      reactions_count: 0
                      comments_count: 0
                      reposts_count: 0
                      scraped_at: "2026-09-25T21:52:56.000Z"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98418
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 4700
              schema:
                type: "object"
                properties:
                  data:
                    $ref: "#/components/schemas/Post"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: "None of keywords, hashtags, author_url, or author_urn, both
            author_url and author_urn, unknown field, or a bad enum value."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "None of keywords, hashtags, author_url, or author_urn, both author_url
                    and author_urn, unknown field, or a bad enum value."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the page(s) requested."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the page(s) requested."
        "422":
          description: "The author profile is not found, private, or unreachable. Billed
            as 1 credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "The author profile is not found, private, or unreachable. Billed as 1
                    credit."
        "429":
          description: "Over the 300 requests/min limit, or the 20 searches/hour
            per-organization quota. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min limit, or the 20 searches/hour
                    per-organization quota. Honor Retry-After."
        "500":
          description: "LinkedIn rejected the search query, or something broke on the
            server side."
          content:
            application/json:
              example:
                error:
                  type: "upstream_error"
                  message: "LinkedIn rejected the search query, or something broke on the server
                    side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /posts/engagement/comments:
    post:
      operationId: "posts-engagement-comments"
      summary: "Get post comments"
      description: "Inbound engagement on a post - who commented, with profile stubs."
      tags:
        - "Posts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                urn:
                  type: "string"
                url:
                  type: "string"
                share_urn:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
                max_results:
                  type: "integer"
                pagination_token:
                  type: "string"
            example:
              urn: "7267273010393358336"
              page: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  comments:
                    - text: "Great insights on automation!"
                      posted_at: "2026-07-06T19:02:00Z"
                      commenter:
                        url: "https://linkedin.com/in/janedoe"
                        full_name: "Jane Doe"
                        headline: "VP Marketing at Acme Corp"
                        urn: "ACoAABOPHB8BM6example"
                      replies_count: 2
                  pagination:
                    returned: 1
                    max_results: 25
                    pages_scraped: 1
                    page: 1
                    per_page: 25
                    has_more: true
                    total_estimate: 93
                  pagination_token: "eyJwYWdlIjoyfQ.signature"
                  urn: "7267273010393358336"
                  share_urn: "7267273010393358336"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
        "400":
          description: "Malformed body, unknown field, bad URL format, or a
            pagination_token that does not match the request."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or a pagination_token
                    that does not match the request."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover a full page."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover a full page."
        "422":
          description: "Post not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Post not found, private, deleted, or unreachable. Billed as 1 credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /posts/engagement/reactions:
    post:
      operationId: "posts-engagement-reactions"
      summary: "Get post reactions"
      description: "Inbound engagement on a post - who reacted, filterable by reaction
        type."
      tags:
        - "Posts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                urn:
                  type: "string"
                url:
                  type: "string"
                share_urn:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
                max_results:
                  type: "integer"
                pagination_token:
                  type: "string"
                reaction_type:
                  type: "string"
            example:
              urn: "7267273010393358336"
              reaction_type: "ALL"
              page: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  reactions:
                    - reaction_type: "LIKE"
                      reacted_at: null
                      reactor:
                        url: "https://linkedin.com/in/janedoe"
                        full_name: "Jane Doe"
                        headline: "VP Marketing at Acme Corp"
                        urn: "ACoAABOPHB8BM6example"
                  pagination:
                    returned: 1
                    max_results: 25
                    pages_scraped: 1
                    page: 1
                    per_page: 25
                    has_more: true
                    total_estimate: 93
                  pagination_token: "eyJwYWdlIjoyfQ.signature"
                  urn: "7267273010393358336"
                  share_urn: "7267273010393358336"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
        "400":
          description: "Malformed body, unknown field, bad URL format, or a
            pagination_token that does not match the request."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or a pagination_token
                    that does not match the request."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover a full page."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover a full page."
        "422":
          description: "Post not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Post not found, private, deleted, or unreachable. Billed as 1 credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /posts/engagement/reposts:
    post:
      operationId: "posts-engagement-reposts"
      summary: "Get post reposts"
      description: "Inbound engagement on a post - who reposted it."
      tags:
        - "Posts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                urn:
                  type: "string"
                url:
                  type: "string"
                share_urn:
                  type: "string"
                page:
                  type: "integer"
                per_page:
                  type: "integer"
                max_results:
                  type: "integer"
                pagination_token:
                  type: "string"
            example:
              urn: "7267273010393358336"
              page: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  reposts:
                    - reposted_at: "2026-07-06T19:10:00.000Z"
                      reposter:
                        url: "https://linkedin.com/in/janedoe"
                        full_name: "Jane Doe"
                        urn: "ACoAABOPHB8BM6example"
                        headline: "VP Marketing at Acme Corp"
                      url: "https://linkedin.com/feed/update/urn:li:activity:7267273010393358999"
                      text: "Worth sharing"
                  pagination:
                    page: 1
                    per_page: 25
                    returned: 1
                    has_more: false
                  pagination_token: null
                  urn: "7267273010393358336"
                  share_urn: "7267273010393358336"
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98419
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2100
        "400":
          description: "Malformed body, unknown field, bad URL format, or a
            pagination_token that does not match the request."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Malformed body, unknown field, bad URL format, or a pagination_token
                    that does not match the request."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover a full page."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover a full page."
        "422":
          description: "Post not found, private, deleted, or unreachable. Billed as 1
            credit."
          content:
            application/json:
              example:
                error:
                  type: "unprocessable_target"
                  message: "Post not found, private, deleted, or unreachable. Billed as 1 credit."
        "429":
          description: "Over the 300 requests/min per-key limit. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min per-key limit. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /search/people:
    post:
      operationId: "search-people"
      summary: "Search people"
      description: "Live people search with structured filters."
      tags:
        - "Search"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                filters:
                  type: "object"
                  properties:
                    keywords:
                      type: "string"
                    titles:
                      type: "array"
                      items:
                        type: "string"
                    past_titles:
                      type: "array"
                      items:
                        type: "string"
                    seniorities:
                      type: "array"
                      items:
                        type: "string"
                    function_ids:
                      type: "array"
                      items:
                        type: "string"
                    company_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    past_company_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    company_sizes:
                      type: "array"
                      items:
                        type: "string"
                    industry_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    location_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    school_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    years_of_experience:
                      type: "array"
                      items:
                        type: "string"
                    years_at_current_company:
                      type: "array"
                      items:
                        type: "string"
                    years_in_current_position:
                      type: "array"
                      items:
                        type: "string"
                    first_name:
                      type: "string"
                    last_name:
                      type: "string"
                    posted_on_linkedin:
                      type: "boolean"
                    recently_changed_jobs:
                      type: "boolean"
                max_results:
                  type: "integer"
              required:
                - "filters"
            example:
              filters:
                titles:
                  - "CTO"
                keywords: "kubernetes"
              max_results: 10
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              example:
                data:
                  results:
                    - url: "https://www.linkedin.com/in/ACwAAAtrDxoBpU0UuxqsRapB-BUxVWrU38-8c0g"
                      full_name: "Tong Zhi"
                      location:
                        city: "London"
                        region: "England"
                        country: "United Kingdom"
                      positions:
                        - title: "Co-Founder & CTO"
                          company: "HireHarbour"
                          company_url: "https://www.linkedin.com/company/100124585"
                          linkedin_id: "100124585"
                          started_at: "2023-10"
                          ended_at: null
                          description: "Helping businesses by finding experienced, high quality remote
                            staff."
                      current_company:
                        name: "HireHarbour"
                        url: "https://www.linkedin.com/company/100124585"
                        linkedin_id: "100124585"
                        title: "Co-Founder & CTO"
                        started_at: "2023-10"
                      is_premium: true
                  pagination:
                    returned: 10
                    max_results: 10
                    pages_scraped: 1
                    has_more: true
                meta:
                  creditsUsed: 1
                  creditsRemaining: 98418
                  billed: true
                  reason: "success"
                  requestId: "req_example"
                  latencyMs: 2800
                  resolved_search_url: "https://www.linkedin.com/search/results/people/?origin=FA\
                    CETED_SEARCH&keywords=kubernetes&titleFreeText=CTO"
        "400":
          description: "Missing or empty filters, unknown filter, or bad enum value."
          content:
            application/json:
              example:
                error:
                  type: "invalid_request"
                  message: "Missing or empty filters, unknown filter, or bad enum value."
        "401":
          description: "Missing, malformed, or revoked key."
          content:
            application/json:
              example:
                error:
                  type: "invalid_api_key"
                  message: "Missing, malformed, or revoked key."
        "402":
          description: "Balance can't cover the page(s) requested."
          content:
            application/json:
              example:
                error:
                  type: "insufficient_credits"
                  message: "Balance can't cover the page(s) requested."
        "429":
          description: "Over the 300 requests/min limit, or the 20 searches/hour
            per-organization quota. Honor Retry-After."
          content:
            application/json:
              example:
                error:
                  type: "rate_limited"
                  message: "Over the 300 requests/min limit, or the 20 searches/hour
                    per-organization quota. Honor Retry-After."
        "500":
          description: "Something broke on the server side."
          content:
            application/json:
              example:
                error:
                  type: "internal_error"
                  message: "Something broke on the server side."
        "504":
          description: "The live scrape didn't complete in time."
          content:
            application/json:
              example:
                error:
                  type: "upstream_timeout"
                  message: "The live scrape didn't complete in time."
  /search/people/sales-nav:
    post:
      operationId: "search-people-sales-nav"
      summary: "Search people (Sales Navigator)"
      description: "Search people with structured filters or a pasted Sales Navigator URL."
      tags:
        - "Search"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                filters:
                  type: "object"
                  properties:
                    keywords:
                      type: "string"
                    titles:
                      type: "array"
                      items:
                        type: "string"
                    past_titles:
                      type: "array"
                      items:
                        type: "string"
                    seniorities:
                      type: "array"
                      items:
                        type: "string"
                    function_ids:
                      type: "array"
                      items:
                        type: "string"
                    company_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    past_company_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    company_sizes:
                      type: "array"
                      items:
                        type: "string"
                    industry_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    location_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    school_ids:
                      type: "array"
                      items:
                        type:
                          - "string"
                          - "object"
                        description: "FacetId"
                    years_of_experience:
                      type: "array"
                      items:
                        type: "string"
                    years_at_current_company:
                      type: "array"
                      items:
                        type: "string"
                    years_in_current_position:
                      type: "array"
                      items:
                        type: "string"
                    first_name:
                      type: "string"
                    last_name:
                      type: "string"
                    posted_on_linkedin:
                      type: "boolean"
[...]
